<header class="header">
  <div class="container">
    <nav class="header__nav">
      <img class="header__logo" src="https://via.placeholder.com/60x50" alt="Логотип" />
      <ul class="header__menu">
        <li class="header__menu-item"><a class="header__menu-link" href="#hero">Головна</a></li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#services">Послуги</a>
        </li>
        <li class="header__menu-item"><a class="header__menu-link" href="#about">Про нас</a></li>
        <li class="header__menu-item"><a class="header__menu-link" href="#prices">Ціни</a></li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#testimonials">Відгуки</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#contact">Контакти</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
