.hero {
    background-color: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.6), rgba(47, 48, 58, 0.9)),
        url(../src/images/keyboard.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include tablet {
        height: 80vh;
    }

    @include desktop {
        height: 60vh;
    }
}

.hero__title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;

    @include tablet {
        font-size: 32px;
        margin-bottom: 20px;
    }

    @include desktop {
        font-size: 48px;
        margin-bottom: 30px;
    }
}

.hero__cta {
    display: inline-block;
    padding: 8px 16px;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;

    @include tablet {
        padding: 10px 20px;
    }

    @include desktop {
        padding: 12px 24px;
    }
}

.hero__cta:hover {
    background-color: #990000;
}