.prices__title {
    text-align: center;
    margin-bottom: 20px;
}

.prices__list {
    list-style: none;
    padding: 0;
}

.prices__item {
    margin-bottom: 20px;
}

.prices__service-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.prices__service-price {
    margin-bottom: 5px;
}

.prices__service-discount {
    font-style: italic;
}